/* Universal rules */

* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;

}


/* header */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;

}

header img {
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

nav {
  display: flex;
  flex-grow: 1;
  width: 700px;
  justify-content: center;
  align-content: center;


}

nav li {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  padding: 10px;
  font-family: "Helvetica" sans-serif;
  font-size: 22px;
}

.overall {
  display: flex;
  width: 100%;
  font-size: 22px;
  height: 69px;
  align-content: center;

}

/*Main body*/

.main {
  background-image: url("images/img-mission-background.jpg");
  height: 700px;
}
