/* Universal rules */

* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;

}



/* header */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;

}

header img {
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

nav {
  display: flex;
  flex-grow: 1;
  width: 700px;
  justify-content: center;
  align-content: center;


}

nav li {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  padding: 10px;
  font-family: "Helvetica" sans-serif;
  font-size: 22px;
}

.overall {
  display: flex;
  width: 100%;
  font-size: 22px;
  height: 69px;
  align-content: center;

}

/*Main body*/

.main {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1200px;
  margin: auto;
}

.our_mission {
  width: 100%;
}

/*Second part- Menu preview*/

.second_section {
  width: 1000px;
  align-content: center;
  margin: auto;
}

.menu {
  max-width: 1000px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.item span {
  text-align: center;
  font-family: "Helvetica" sans-serif;
  font-size: 22px;
}

.menu_images {
  width: 300px;
  height: 200px;
  padding: 10px;
}
